body{
 background-image: url("https://cdn.mos.cms.futurecdn.net/NJXQ8h3mUd9mhsh2m8xpba.jpg");
 background-repeat: no-repeat;
 background-size: 100% ;

 }
label{
color: white;
}
.navbar-nav{
    color: white;
}

.card{
    margin-right: 30px;
}